body{
	font-family: 'Roboto', sans-serif;
	padding-bottom: 3%;
}

#fst{
	font-family: 'Gloria Hallelujah', cursive;
}

#navi{
	padding: 1%;
	margin-bottom: 0;
	font-size: 20px;
}

#home{
	background-image: url(../imagens/banner.png); 
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
 	background-size: cover;
	background-color:#464646;
	height: 600px;
	margin: -1% 0;
	opacity: 0.9;
}

#overlay{
	height: 600px;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

#titulo{
	text-shadow: 3px 5px 12px 0px rgba(50,50,50,0.75);
	margin-top: 250px;
	text-align: center;
	font-size: 80px;
	color: white;
}

#sobre{
	padding: 90px 0;
}

#texto{
	font-size: 19px;
	margin-top: 3px; 
	text-align: center;
}

#pict{
	text-align: center;
	margin: 2px auto;
}

#pict img{
	margin: auto; 
	border-radius: 100%;
	box-shadow: 1px 3px 15px 0px rgba(134, 134, 134, 0.3);
}

#curriculo{
	margin: auto;
}

.btn-branco {
    color: #fff;
    background-color: #333;
    border-color: #ccc;
}

.btn-branco i{
	margin-right: 3px;
}

.btn-branco:hover{
	color: white;
	background-color: #444;
}

.btn-branco:active{
	color: white;
	background-color: #333;
}

.btn-branco:focus{
	color: white;
	background-color: #333;
}

#contact{
	height: 400px;
	color: white;
	margin: auto;
	
}

#contato{
	text-align: center;
	margin: auto;
	width: 100%;
}

#ending{
    background: linear-gradient(110deg, #555 30%, #999 59%, #555 75%);
    color: white;
    opacity: 0.95;
    margin: auto;
}

h2{
	margin: 40px 0;
}

.page-header{
	padding: 0 1% ;
}

#icons{
	margin: auto;
	text-align: center;
}

#icons img{
	height: 30px;
	width: 30px;
}

#icons ul li{
	display: inline-block;
	margin: 2% 2% 1% 2%;
}

#icons ul li i{
	padding-top: 7px;
	font-size: 20px;
	color: white;
}

#icons ul li i:hover{
	color: black;
}

#icons ul{
	padding: 0;
	margin: 0;
}

.input-field{
	margin: auto;
}

.inpt{
	width: 60%;
	margin: 15px;
	opacity: 0.9;
	border: none; 	
	background-color: transparent;
	padding: 12px; 
	background: rgba(180,180,180,0.4);
	border-radius: 6px;
}

.inpt:focus{
	border: 3px solid #fff; 	
}

#enviar{
	margin: 20px 0;
	padding: 0 60px;
}

#footer{
	margin: 20px 0;
	padding-top: 40px;
	font-size: 12px;
	/*background-color: #bdbdbd; */
}

#icons{
	padding: 0 0 1% 0;
}

#footer p{
	padding-top: 14px;
	text-align: center;
}


