body{
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 2px;
	width: 100%;
	margin: 0;
}

#fst{
	font-family: 'Gloria Hallelujah', cursive;
}

nav{

}

#home{
	background-image: url(../imagens/banner.png);
	background-position: bottom;
	background-attachment: fixed;
	background-repeat: no-repeat;
 	background-size: cover;
	background-color:#464646;
	height: 650px;
	opacity: 0.9;
}

.row{
	margin: 0;
}

#overlay{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.4);
}

#titulo{
	margin-top: 222px;
	text-align: center;
	color: #333;
	background-color: rgba(225,225,225,0.5);
	width: 100%;
	font-weight: bold;
	padding: 4% 0;
}

div#titulo {
	width: 100%;
}

#sobre{
	padding: 40px 0;
}

#texto{
	font-family: 'Roboto';
	letter-spacing: normal;
	font-size: 19px;
	margin-top: 3px;
	text-align: center;
}

#pict{
	text-align: center;
	margin: 2px auto;
}

#pict img{
	margin: auto;
	border-radius: 100%;
	box-shadow: 1px 3px 15px 0px rgba(134, 134, 134, 0.3);
}

#curriculo{
	margin: auto;
}

.btn-branco {
    color: #fff;
    background-color: #333;
    border-color: #ccc;
    padding: 5px 20px;
}

.btn-branco i{
	margin-right: 3px;
}

.btn-branco:hover{
	color: white;
	background-color: #444;
}

.btn-branco:active{
	color: white;
	background-color: #333;
}

.btn-branco:focus{
	color: white;
	background-color: #333;
}

#contact{
	/* height: 400px; */
	color: white;
	margin: auto;
}

#contato{
	text-align: center;
	/* margin: auto; */
	width: 100%;
	padding: 0 15%;
}


#ending{
    background: linear-gradient(0deg, #777 0%, #999 20%, #666 59%);
    color: white;
}

h3{
	letter-spacing: 3px;
	margin: 40px 0;
	font-weight: bold;
}

.page-header{
	padding: 0 1% ;
}

#icons{
	margin: auto;
	text-align: center;
}

#icons img{
	height: 30px;
	width: 30px;
}

#icons ul li{
	display: inline-block;
	margin: 2% 2% 1% 2%;
}

#icons ul li i{
	padding-top: 7px;
	font-size: 26px;
	color: white;
}

#icons ul li i:hover{
	color: black;
}

#icons ul{
	padding: 0;
	margin: 0;
}

.input-field{
	margin: auto;
}

.inpt{
	width: 100%;
	margin: 15px 0;
	opacity: 0.9;
	border: none;
	background-color: transparent;
	padding: 12px;
	background: rgba(180,180,180,0.4);
	border-radius: 6px;
}

.inpt:focus{
	border: 3px solid #fff;
}

#enviar{
	margin: 20px 0;
	padding: 0 60px;
}

#footer{
	margin: 20px 0;
	font-size: 12px;
}

#icons{
	padding: 0 0 1% 0;
}

#footer p{
	font-family: 'open sans';
	padding-top: 20px;
	font-size: 13px;
	letter-spacing: 4px;
	text-align: center;
}
